*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  width: 100%;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

#root {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  display: block;
}

button:disabled {
  opacity: 0.5;
}

.flex-between {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.dots-bg {
  display: flex;
  padding: 8px 8px 16px 8px;
  cursor: pointer;
}

.dots::before,
.dots::after,
.dots {
  display: block;
  height: 4px;
  width: 4px;
  background: #fff;
  border-radius: 50%;
}

.dots::before {
  content: '';
  margin-top: 7px;
}

.dots::after {
  content: '';
  margin-top: 3px;
}

.dropdown {
  position: absolute;
  background: #e54;
  border: 2px solid #333;
  z-index: 200;
  top: 56px;
  right: 41px;
  cursor: pointer;
}

.dropdown span {
  font-size: 0.8rem;
  padding: 0.2rem;
}

.dropdown::before {
  content: '';
  display: block;
  position: absolute;
  top: -7px;
  width: 0px;
  height: 0px;
  right: 0;
  border-bottom: 7px solid #e54;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
