*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  width: 100%;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

#root {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  display: block;
}

.flex-between {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}
