.sidebar {
  background-color: #2a2a36;
  display: grid;
  height: 100vh;
  border-right: 1px solid #3e3e4e;
  grid-column: 1;
  grid-row: 1/-1;
}

.btn {
  color: #ffffff;
  padding: 0.3em 0.2em;
  font-weight: 600;
  border-radius: 6px;
}

@media (max-width: 930px) {
  .sidebar {
    display: none;
    position: absolute;
    min-width: 15rem;
  }

  .sidebar.active {
    display: grid;
  }
}
