.columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

#selectMobile {
  display: none;
}

@media (max-width: 800px) {
  #selectMobile {
    display: flex;
    align-self: self-end;
  }
  .columns {
    display: block;
    width: 100%;
  }
}
