.taskBackground {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  justify-content: center;
  align-items: center;
}

.taskForm {
  background: #323242;
  padding: 1.25em 2.5em 2.5em 2.5em;
  margin-top: 2em;
  max-height: 38em;
  overflow-y: auto;
  box-shadow: 0 0 0 10px #323242;
  position: relative;
  margin-bottom: 5em;
  left: 50%;
  transform: translateX(-50%);
  max-width: 60vh;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 2000000000000000;
}

.taskForm h3 {
  margin-bottom: 1em;
}

.taskForm form {
  display: flex;
  flex-direction: column;
  gap: 1em 0;
}

.taskForm label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.2em;
}

.taskForm input {
  padding: 0.6em;
  background: none;
  color: #fff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
}

.taskForm input[type='text'] {
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: 0 0 5px #5b25f1;
  border: 1px solid #5b25f1;
}

input::placeholder {
  color: rgb(110, 110, 110);
}

.taskForm textarea {
  resize: none;
  width: 100%;
  padding: 0.6em 0 3em 0.6em;
  background: none;
  color: #fff;
  border: 1px solid #ffffff;
  font-family: 'Poppins', sans-serif;
}

.subtasks {
  display: flex;
  flex-direction: column;
  gap: 0.6em 0;
  overflow-y: auto;
  max-height: 10em;
}

.taskForm button {
  width: 100%;
  background: #fff;
  color: #7b4ef7;
  border: none;
  border-radius: 1em;
  font-size: 1rem;
  padding: 0.3em 0;
  margin-top: 0.5em;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.taskForm select {
  width: 100%;
  background: #323242;
  color: #fff;
  border-radius: 4px;
  padding: 0.6em;
  font-family: 'Poppins', sans-serif;
}

.subtasks li {
  position: relative;
}

.cross-1px {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: absolute;
  right: 0;
  top: 46%;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.cross-1px:before,
.cross-1px:after {
  content: '';
  position: absolute;
  top: (40px - 4px) / 2;
  left: 0;
  right: 0;
  height: 4px;
  background: #fff;
  border-radius: 4px;
}

.cross-1px:before {
  transform: rotate(45deg);
}

.cross-1px:after {
  transform: rotate(-45deg);
}

span {
  display: block;
}
