*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: #22222c;
}

body {
  display: grid;
  height: 100vh;
  width: 100%;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

#root {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

#root > section {
  display: grid;
  grid-template-rows: 0.1fr 1fr;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  display: block;
}

button:disabled {
  opacity: 0.5;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: 0 0 5px #5b25f1;
  border: 1px solid #5b25f1;
}

input::placeholder {
  color: rgb(110, 110, 110);
}

aside.active {
  display: grid;
}

@media (max-width: 930px) {
  #root {
    grid-template-columns: 1fr;
  }
}
