.header {
  background-color: #2a2a36;
  padding: 1.6rem 0;
}

.addTask {
  background: #7b4ef7;
  padding: 0.6rem 1rem;
  border-radius: 15px;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.addTask:hover {
  background: #5b25f1;
}

.menu {
  display: flex;
  align-items: center;
}

@import './MenuHamburguer.module.css';
