.columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.columns > li p {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.columns > li p::before {
  content: '';
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.4rem;
}

.columns > li .todo::before {
  background: #037ba0;
}

.columns > li .doing::before {
  background: #7204f0;
}

.columns > li .done::before {
  background: #028513;
}

.columns > li p {
  margin-bottom: 1rem;
}

.selectMobile {
  margin-right: 1.2rem;
  padding: 0.2rem 1rem;
  border-radius: 15px;
  background: #fff;
  color: #7204f0;
  display: none;
}

@media (max-width: 800px) {
  .selectMobile {
    display: flex;
    align-self: self-end;
  }
  .columns {
    display: block;
    width: 100%;
  }
}
