.columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.columns > li p {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.columns > li p::before {
  content: '';
  width: 1.1em;
  height: 1.1em;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.4em;
}

.columns > li:first-child p:before {
  background: #037ba0;
}

.columns > li:nth-child(2) p:before {
  background: #7204f0;
}

.columns > li:last-child p:before {
  background: #028513;
}

.columns > li p {
  margin-bottom: 1em;
}

.selectMobile {
  display: none;
}

@media (max-width: 800px) {
  .selectMobile {
    display: flex;
    align-self: self-end;
  }
  .columns {
    display: block;
    width: 100%;
  }
}
